<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src='http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js'></script>
    <script src="./webuploader.igrow2.old.js"></script>
</head>
<body>
<div id="dd">
    <input type="file" id="inp">
    <img src="" id="image" alt="">
</div>

<script>
    var element = $('#dd')
    //默认配置
    var config = {
        pick: {
            id: element,
            multiple: true,
            //capture: 'camera',
            configkey: 'default_pic'
        },
        accept: {
            //可自定义格式
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: '*'
        },
        auto: true,
        disableGlobalDnd: true,
        prepareNextFile: true,
        chunked: true,
        chunkRetry: 0,
        threads: 3,
        fileNumLimit: 20,
        fileSingleSizeLimit: 10 * 1024 * 1024,
        duplicate: true,
        thumb: {
            width: 60,
            height: 60,
            // 图片质量，只有type为`image/jpeg`的时候才有效。
            quality: 80,
            // 是否允许放大，如果想要生成小图的时候不失真，此选项应该设置为false.
            allowMagnify: false,
            // 是否允许裁剪。
            crop: true,
            // 为空的话则保留原有图片格式。
            // 否则强制转换成指定的类型。
            type: 'image/jpeg'
        },
        compress: {
            //width: 1600,
            //height: 1600,
            // 图片质量，只有type为`image/jpeg`的时候才有效。
            quality: 80,
            // 是否允许放大，如果想要生成小图的时候不失真，此选项应该设置为false.
            allowMagnify: false,
            // 是否允许裁剪。
            crop: false,
            // 是否保留头部meta信息。
            preserveHeaders: true,
            // 如果发现压缩后文件大小比原来还大，则使用原来图片
            // 此属性可能会影响图片自动纠正功能
            noCompressIfLarger: false,
            // 单位字节，如果图片大小小于此值，不会采用压缩。
            compressSize: 200 * 1024
        }
    };
    var instance  = WebUploader.create(config);
    var events =  {
        filesQueued: function () {

        },
        startUpload: function () {

        },
        uploadFinished: function () {
        },
        uploadSuccess: function (file, result) {
            result && (image.src = result.url);
        }
    }
        for( var key in events){
            instance.on(key,function () {
                var _this = this, _arguments = arguments;
                setTimeout(function () {
                    events[key].apply(_this, _arguments);
                },0)
            })
        }

</script>
</body>
</html>