<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>hi~~</h3>
    <p>刚刚输入的结果是： </p>
    <ul>
        <li>姓名：<%=name%></li>
        <li>手机号： <%=phone%></li>
        <li>密码： <%=password%></li>
    </ul>
     
    
</body>
</html>